
                <h1>變更教師郵局密碼</h1>
                <hr>


               <%= form_tag "/users/submitchangepass", :class=>"form-horizontal" do %>
                 <div class="form-group">
                   <label for="exampleInputEmail1">學校郵件帳號</label>
                   <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="帳號包含@shsh.ylc.edu.tw" value="@shsh.ylc.edu.tw">
                 </div>
                 <div class="form-group">
                   <label for="exampleInputPassword">原始舊密碼</label>
                   <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="輸入原有密碼">
                 </div>
                 <div class="form-group">
                   <label for="InputPasswordNew1">新密碼</label>
                   <input name="newpass1" type="password" class="form-control" id="exampleInputPassword1" placeholder="輸入新密碼">
                 </div>
                 <div class="form-group">
                   <label for="InputPasswordNew2">再輸一次新密碼</label>
                   <input name="newpass2" type="password" class="form-control" id="exampleInputPassword1" placeholder="再輸入新密碼">
                 </div>

              <div class="actions">
                 <%= submit_tag "確認送出", :class=>"btn btn-primary btn-xl" %>
              </div>
            <% end %>

